.myTrans-appear {
  opacity: 0;
}

.myTrans-appear-active {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}


/* === Enter 트랜지션 === */
.myTrans-enter {
  opacity: 0;
}
.myTrans-enter-active {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
.myTrans-enter-done {
  opacity: 1;
}

/* === Exit 트랜지션 === */
.myTrans-exit {
  opacity: 1;
}
.myTrans-exit-active {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.myTrans-exit-done {
  opacity: 0;
}

.my-text {
  font-size: 21px;
  font-weight: 700;
}